/* styles.css */

body {
    font-family: Arial, sans-serif;
}



label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}



button:hover {
    background-color: #0056b3;
}

/* styles.css */

.pagination {
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination ul li {
    display: inline-block;
    margin-right: 5px;
}

.pagination ul li a {
    display: block;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 3px;
}

.pagination ul li a:hover {
    background-color: #ddd;
}
/* styles.css */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* CSS styles for the sidenav */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Add border to table */
}

th, td {
    padding: 12px;
    border: 1px solid #ddd; /* Add border to cells */
    text-align: left;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    max-width: 200px; /* Limit width of cells */
}

th {
    background-color: #f2f2f2;
}
/* Form Styles */
form {
    margin-top: 20px;
}
input[type="number"] {
    width: calc(20% - 12px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
/* Side Navigation Styles */
.sidenav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    margin-right: 90px;
}
.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: color 0.3s ease;
}
.sidenav a:hover {
    color: #f1f1f1;
}
/* Content Styles */
.content {
    margin-left: 250px;
    padding: 20px;
}
